<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Order Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      @using VendorAndOrderTracker.Models;

      <h1>Orders List</h1>
      @if (Model.Count == 0)
      {
        <p>There are no orders in the list.</p>
      }
      <ul>
      @foreach (Order newOrder in @Model["orderList"])
      {
        <li><a href='/vendors/@Model["vendor"].Id/orderList/@order.Id'>@order.Description</a></li>
      }
      </ul>

      <a href="/orderList/new">Add a new order.</a>
    </div>
  </body>
</html>